:host {
    h3 {
        font-size: 2.75rem;
        font-weight: 600;
        margin: 4rem 0 2rem 0;
    }
    h4 {
        font-size: 2.25rem;
        font-weight: 500;
        margin: 3rem 0 2rem 0;
    }
    >strong {
        font-size: 2.5rem;
        font-weight: 600;
        font-family: 'Maven Pro', sans-serif;
        margin: 3rem 0;
        line-height: 4rem;
    }
    >span {
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        font-family: 'Maven Pro', sans-serif;
        font-style: italic;
        margin: 5rem 0 0 0;
        padding: 2.5rem 0;
        line-height: 3rem;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: .25rem;
            background-color: lightgrey;
        }
    }
    >em {
        display: block;
        border-left: 8px solid lightgray;
        font-size: 3rem;
        margin: 5rem 0;
        padding: 5rem 0 5rem 5rem;
    }
    >div.imgs {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-around;
        >img {
            width: min-content;
            max-width: calc(50% - 2rem);
            margin: 1rem;
        }
    }
    >div.faq {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;
        border: 1px solid lightgrey;
        > h4, p {
            padding: 2rem;
            margin: 0;
        }
        > h4 {
            border-bottom: 1px solid lightgrey;
            background-color: rgba(lightgrey, .25);
        }
    }
    >img {
        width: 100%;
        max-width: 100%;
        align-self: center;
        margin: 0 0 2rem 0;
    }
    div.vip {
        > img {
            float: left;
            width: 200px;
            height: auto;
            margin: 1rem 2rem 2rem 0;
        }
    }
    div.youtube-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin: 1rem 0 2rem 0;
        >img {
            width: 100%;
        }
        > div { 
            display: block;
            background: red;
            border-radius: 50% / 10%;
            color: #FFFFFF;
            font-size: 2em;
            height: 3em;
            margin: 20px auto;
            padding: 0;
            position: absolute;
            text-align: center;
            text-indent: 0.1em;
            transition: all 150ms ease-out;
            width: 4em;
            &:hover {
                background: darkorange;
                cursor: pointer;
            }
            &::before { 
                background: inherit;
                border-radius: 5% / 50%;
                bottom: 9%;
                content: "";
                left: -5%;
                position: absolute;
                right: -5%;
                top: 9%;
            }
            &::after {
                border-style: solid;
                border-width: 1em 0 1em 1.732em;
                border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
                content: ' ';
                font-size: 0.75em;
                height: 0;
                margin: -1em 0 0 -0.75em;
                top: 50%;
                position: absolute;
                width: 0;
            }
        }
    }
    iframe {
        width: 100%;
        height: auto;
        margin: 0 0 2rem 0;
        min-height: 500px;
    }
    ul.wikiloc {
        list-style: none;
        margin: 0;
        padding: 0;
        >li {
            background-color: ghostwhite;
            border: 1px solid lightgrey;
            margin: 0 0 2rem 0;
            padding: 1rem;
            >a {
                font-size: 1.6rem;
                font-weight: 500;
            }
            >div {
                display: flex;
                flex-direction: column;
                margin: 1rem 0 0 0;
                >span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.4rem;
                    font-weight: 500;
                    > span {
                        font-weight: 300;
                        margin: 0 2rem 0 0;
                    }
                    >meter {
                        width: 50px;
                        margin: 0 0 0 .5rem;
                    }
                }
            }
        }
    }
}
