:host {
    display: flex;
    flex-direction: column;
    >div:nth-of-type(1) {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 300px;
        > div {
            position: absolute;
            width: 100%;
            height: 100%;
            filter: blur(1px);
            background-size: cover!important;
            background-repeat: no-repeat!important;
            background-position: center!important;
            overflow: hidden;
        }
        >h1 {
            display: flex;
            flex-direction: column;
            color: lightgrey;
            margin: 1rem 1rem 2rem 2rem;
            z-index: 1;
            >span {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
            }
        }
        >h2 {
            font-size: 1.2rem;
            font-weight: 300;
            color: lightgrey;
            margin: 0 2rem;
            text-transform: uppercase;
            letter-spacing: .25rem;
            z-index: 1;
        }
    }
    >div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        >div {
            display: flex;
            flex-direction: column;
            margin: 2rem 1rem;
        }
        > aside{
            display: flex;
            flex-direction: column;
            margin: 2rem 1rem;
            > iframe.maps {
                width: 100%;
                height: 500px;
                border: 1px solid lightgrey;
                border-radius: .25rem;
                box-sizing: border-box;
                margin: 0 0 2rem 0;
            }
        }
    }
}

@media screen and (min-width: 575px) {
     :host {
        >div:nth-of-type(1) {
            >h1 {
                margin: 0 4rem 2rem 4rem;
            }
            >h2 {
                margin: 2rem 4rem 1rem 4rem;
            }
        }
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            >div {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (min-width: 768px) {
     :host {
        >div:nth-of-type(1) {
            height: 400px;
        }
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: row;
            margin: 2rem auto;
            >div {
                width: calc(100% - 300px);
            }
            >aside {
                width: 300px;
            }
        }
    }
}

@media screen and (min-width: 991px) {
     :host {
        >div:nth-of-type(1) {
            height: 500px;
            >h1 {
                margin: 0 auto 5rem auto;
                width: 991px;
                >span {
                    font-size: 2.2rem;
                    line-height: 3rem;
                }
            }
            >h2 {
                font-size: 1.8rem;
                margin: 2rem auto 1rem auto;
                width: 991px;
            }
        }
        >div:nth-of-type(2) {
            width: 991px;
            margin: 2rem auto;
        }
    }
}