<div>
    <main>
        <span>{{post?.parent?.title?.split('.')[0]}}</span>
        <h1>{{post?.title.split('.')[0]}}</h1>
        <h2>{{post?.title.split('.')[1]}}</h2>
        <app-rrss *ngIf="post" [post]="post"></app-rrss>
        <index *ngIf="post?.paragraphs" [items]="post?.paragraphs"></index>
        <app-paragraphs [paragraphs]="post?.paragraphs"></app-paragraphs>
    </main>
    <aside>
        <section appAnalysis *ngIf="post?.analysis" [analysis]="post?.analysis"></section>
        <iframe *ngIf="mapsUrl" [src]="mapsUrl" class="maps" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [title]="'Mapa turístico de ' + post?.title.split('.')[0]"></iframe>
        <app-rrss *ngIf="post" [post]="post" [hasTitle]="true"></app-rrss>
        <section appKeyValue *ngIf="aboutInfo" [title]="'Acerca de ' + post?.title.split('.')[0]" [data]="aboutInfo" [inline]="true"></section>
        <section appKeyValue *ngIf="phonesInfo" [title]="'Teléfonos de interés'" [data]="phonesInfo"></section>
    </aside>
</div>
<app-list [title]="'Qué ver cerca de ' + post?.title.split('.')[0]" [posts]="relatedPosts"></app-list>