:host {
    display: flex;
    flex-direction: column;
    >div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        >h1 {
            display: flex;
            flex-direction: column;
            margin: 2rem 0 8rem 0;
            >span {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
                margin-top: 1rem;
            }
        }
        > app-rrss {
            margin-top: 5em;
        }
    }
    >div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        >div {
            display: flex;
            flex-direction: column;
            > app-grid {
                margin: 1rem 0 2rem 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
     :host {
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: row;
            >div {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 991px) {
     :host {
        >div:nth-of-type(1) {
            width: 991px;
            margin: 0 auto;
            > h1 {
                > span {
                    font-size: 2rem;
                }
            }
            > app-rrss {
                margin-top: 10em;
            }
        }
        >div:nth-of-type(2) {
            width: 991px;
            margin: 0 auto;
        }
    }
}