:host {
    display: flex;
    flex-direction: column;
    >div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        >h1 {
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            font-weight: 800;
            margin: 5rem 1rem 2rem 3rem;
            >span {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
                margin-top: 1rem;
            }
        }
        > span {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.4rem;
            color: lightgray;
            margin: 5rem 0 1rem 3rem;
            > svg {
                width: 12px;
                height: 12px;
                fill: lightgray;
                margin: 0 .25rem 0 1rem;
            }
        }
    }
    >div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        >div {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            > app-grid {
                margin: 1rem 0 2rem 0;
            }
            h3 {
                font-size: 2.75rem;
                font-weight: 600;
                margin: 4rem 0 2rem 0;
            }
            h4 {
                font-size: 2.25rem;
                font-weight: 500;
                margin: 3rem 0 2rem 0;
            }
            >p {
                font-size: 1.6rem;
                font-weight: 400;
                font-family: 'Maven Pro', sans-serif;
                line-height: 2.5rem;
                margin: 0 0 2rem 0;
            }
            >strong {
                font-size: 2.5rem;
                font-weight: 600;
                font-family: 'Maven Pro', sans-serif;
                margin: 3rem 0;
                line-height: 4rem;
            }
            >span {
                position: relative;
                font-size: 2rem;
                font-weight: 400;
                font-family: 'Maven Pro', sans-serif;
                font-style: italic;
                margin: 5rem 0 0 0;
                padding: 2.5rem 0;
                line-height: 3rem;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 15rem;
                    height: .25rem;
                    background-color: lightgrey;
                }
            }
            >div {
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                justify-content: space-around;
                >img {
                    width: min-content;
                    max-width: calc(50% - 2rem);
                    margin: 1rem;
                }
            }
            >img {
                width: 100%;
                max-width: 100%;
                align-self: center;
                margin: 0 0 2rem 0;
            }
            iframe {
                width: 100%;
                height: auto;
                margin: 0 0 2rem 0;
            }
            ul.wikiloc {
                list-style: none;
                margin: 2rem;
                padding: 0;
                >li {
                    margin: 0 0 2rem 0;
                    >a {
                        font-size: 1.6rem;
                        font-weight: 400;
                    }
                    >div {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        >span {
                            display: flex;
                            flex-direction: row;
                            font-size: 1.4rem;
                            color: darkgray;
                            margin: 0 0 0 2rem;
                            >meter {
                                width: 50px;
                                margin: 0 0 0 .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 575px) {
     :host {
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            >div {
                display: flex;
                flex-direction: column;
                >iframe {
                    min-height: 500px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
     :host {
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: row;
            >div {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 991px) {
     :host {
        >div:nth-of-type(1) {
            width: 991px;
            margin: 0 auto;
            > h1 {
                font-size: 5rem;
                margin: 10rem 0 2rem 0;
                > span {
                    font-size: 2rem;
                    margin: 1rem 0 0 0;
                }
            }
            > span {
                margin: 8rem 0 1rem 0;
            } 
        }
        >div:nth-of-type(2) {
            width: 991px;
            margin: 0 auto;
        }
    }
}