:host {
    display: flex;
    flex-direction: column;
    >div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        >h1 {
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            font-weight: 800;
            margin: 5rem 1rem 2rem 3rem;
            >span {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
                margin-top: 1rem;
            }
        }
        > span {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.4rem;
            color: lightgray;
            margin: 5rem 0 1rem 3rem;
            > svg {
                width: 12px;
                height: 12px;
                fill: lightgray;
                margin: 0 .25rem 0 1rem;
            }
        }
    }
    >div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        >div {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            > app-grid {
                margin: 1rem 0 2rem 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
     :host {
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: row;
            >div {
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 991px) {
     :host {
        >div:nth-of-type(1) {
            width: 991px;
            margin: 0 auto;
            > h1 {
                font-size: 5rem;
                margin: 10rem 0 2rem 0;
                > span {
                    font-size: 2rem;
                    margin: 1rem 0 0 0;
                }
            }
            > span {
                margin: 8rem 0 1rem 0;
            } 
        }
        >div:nth-of-type(2) {
            width: 991px;
            margin: 0 auto;
        }
    }
}