:host {
    display: flex;
    flex-direction: column;
    > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 575px) {
    :host {
        > section {
            > app-grid {
                width: 575px;
                margin: 0 auto;
            }
    
        }
    }
}

@media screen and (min-width: 992px) {
    :host {
        > section {
            > app-grid {
                width: 768px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    :host {
        > section {
            > app-grid {
                width: 992px;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (min-width: 1600px) {
    :host {
        > section {
            > app-grid {
                width: 1200px;
                margin: 0 auto;
            }
        }
    }
}