<div>
    <div>
        <a href="/">
            <h1>Visita <span>La Vera</span></h1>
        </a>
        <div>
            <p>Descubre la comarca de La Vera de una forma inteligente. Somos expertos en la comarca de la Vera.</p>
            <p>Te ayudaremos a planificar tu viaje para que sea un éxito. Podemos contarte todos los secretos de un pueblo en concreto. Indicarte dónde ir si vienes con amigos, en pareja o en familia. Cómo aprovechar al máximo tu viaje si sólo dispones de un fin de semana o por dónde empezar si tienes toda una semana. Qué sitios son los ideales para disfrutar de las piscinas naturales o las mejores rutas de senderismo o bicicleta. Pulsa en comenzar para encontrar lo que estás buscando.</p>
            <a routerLink="./" fragment="nav"><span>COMENZAR</span></a>
        </div>
    </div>
</div>
<app-nav id="nav"></app-nav>
<section>
    <aside></aside>
    <div>
        <h3>ÚLTIMOS <span>POSTS</span></h3>
        <app-grid [posts]="posts"></app-grid>
    </div>
    <aside></aside>
</section>