:host {
    display: flex;
    flex-direction: column;
    > div {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: brightness(.75);
            &#background-desktop {
                display: none;
                height: 100vh;
            }
            &#background-mobile {
                width: 100vw;
            }
        }
        > nav {
            z-index: 1;
        }
        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100vh;
            max-width: 552px;
            margin: 0 auto;
            z-index: 1;
            > a {
                margin: 10vh 0 0 10vw;
                text-decoration: none;
                > h1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 3.5rem;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: white;
                    text-shadow: 2px 2px 4px black;
                    > span {
                        font-size: 7rem;
                        font-weight: 600;
                    }
                }
            }
            > div {
                display: flex;
                flex-direction: column;
                > h2 {
                    font-size: 1.6rem;
                    font-weight: 300;
                    color: white;
                    margin: 0 3rem;
                    line-height: 2rem;
                } 
                > a {
                    margin: 5rem auto 15vh auto;
                    text-decoration: none;
                    font-size: 1.6rem;
                    border: 1px solid white;
                    padding: 1rem 2rem;
                    font-weight: 300;
                    color: white;
                    text-shadow: 2px 2px 4px black;
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
    > section {
        display: flex;
        flex-direction: row;
        background-color: rgb(238, 238, 238);
        padding: 4rem 2rem;
        > div {
            display: flex;
            flex-direction: column;
            width: 100%;
            > h3 {
                font-size: 1.8rem;
                font-weight: 300;
                margin: 0 0 2rem 4rem;
                letter-spacing: 1px;
                > span {
                    font-size: 2rem;
                    font-weight: 800;
                    color: #549f4c;
                }
            }
        }
    }
}

@media screen and (min-width: 575px) {
    :host {
        > section {
            padding: 6rem 2rem;
            > div {
                width: 575px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    :host {
        > div {
            > img {
                height: auto;
                &#background-desktop {
                    display: block;
                    
                }
                &#background-mobile {
                    display: none;
                }
            }
            > div {
                height: 45vh;
                max-width: unset;
                > a {
                    margin-top: 5vh;
                }
                > div {
                    display: none;
                }
            }
        }
        > section {
            padding-top: 20rem;
            > div {
                width: 992px;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (min-width: 1600px) {
    :host {
        > section {
            > div {
                width: 1200px;
                margin: 0 auto;
            }
        }
    }
}