:host {
    display: flex;
    flex-direction: column;
    > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > img {
            display: none;
        }
        > app-card-detail {
            flex-basis: 100%;
        }
    }
}

@media screen and (min-width: 575px) {
    :host {
        > section {
            > app-main-grid {
                width: 575px;
                margin: 0 auto;
            }
            > img {
                display: flex;
                width: 100%;
                height: auto;
            }
            > app-card-detail {
                flex-basis: 50%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    :host {
        > section {
            > app-main-grid {
                width: 768px;
                margin: 0 auto;
            }
            > app-card-detail {
                flex-basis: 33.3333%;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    :host {
        > section {
            > app-main-grid {
                width: 992px;
                margin: 0 auto;
            }
            > app-card-detail {
                flex-basis: 25%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    :host {
        > section {
            > app-card-detail {
                flex-basis: 20%;
            }
        }
    }
}