<div>
    <img src="assets/images/lavera-background.jpg" alt="descubre-la-vera" load="lazy">
    <nav></nav>
    <div>
        <a href="/">
            <h1>Descubre <span>La Vera</span></h1>
        </a>
        <div>
            <h2>Disfruta de la comarca de La Vera de una forma inteligente. Somos expertos en la comarca de la Vera.</h2>
            <p>Te ayudaremos a planificar tu viaje para que sea un éxito. Podemos contarte todos los secretos de un pueblo en concreto. Indicarte dónde ir si vienes con amigos, en pareja o en familia. Cómo aprovechar al máximo tu viaje si sólo dispones de un fin de semana o por dónde empezar si tienes toda una semana. Qué sitios son los ideales para disfrutar de las piscinas naturales o las mejores rutas de senderismo o bicicleta. Pulsa en comenzar para encontrar lo que estás buscando.</p>
            <a routerLink="./" fragment="nav">COMENZAR</a>
        </div>
    </div>
</div>
<app-planner id="nav"></app-planner>
<section>
    <aside></aside>
    <div>
        <h3>ÚLTIMOS <span>POSTS</span></h3>
        <app-grid [posts]="posts"></app-grid>
    </div>
    <aside></aside>
</section>
<footer></footer>