<nav [extended]="true" class="extended"></nav>
<page-city *ngIf="post?.type.content === 'CITY'" [post]="post" [relatedPosts]="relatedPosts"></page-city>
<page-companionship *ngIf="post?.type.content === 'COMPANIONSHIP'" [post]="post"></page-companionship>
<page-season *ngIf="post?.type.content === 'SEASON'" [post]="post"></page-season>
<page-transport *ngIf="post?.type.content === 'TRANSPORT'" [post]="post"></page-transport>
<page-days *ngIf="post?.type.content === 'DAYS'" [post]="post"></page-days>
<page-category *ngIf="post?.type.content === 'CATEGORY'" [post]="post"></page-category>
<app-info [post]="post"></app-info>
<footer></footer>