:host {
    display: flex;
    flex-direction: column;
    >div {
        display: flex;
        flex-direction: column;
        >header {
            display: flex;
            flex-direction: column;
            >span {
                color: darkgrey;
                text-align: center;
                margin: .5rem 0;
            }
            >div {
                border: 1px solid darkgrey;
                height: 150px;
            }
        }
    }
}

@media screen and (min-width: 991px) {
     :host {
        >div {
            width: 991px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1200px) {
     :host {
        >div {
            width: 1200px;
            margin: 0 auto;
        }
    }
}