<div>
    <div>
        <span>Descubre</span>
        <span>La Vera</span>
    </div>
    <div>
        <ul>
            <li>About data</li>
            <li><a href="./legal" rel=”nofollow”>Legal info</a></li>
            <li><a href="./privacy" rel=”nofollow”>Privacy terms</a></li>
            <li><a href="./cookies" rel=”nofollow”>Cookies utilization</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Our RRSS</li>
            <li><a href="https://twitter.com/descubrelavera">Twitter</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Tumblr</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100094883408710">Facebook</a></li>
        </ul>
    </div>
</div>
<div>
    <span><span>©</span>Copyright 2023 · Built with <span>♡</span></span>
</div>
