:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../../assets/images/lavera-vegetacion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem 1rem 2rem 1rem;
    box-sizing: border-box;
    > p {
        font-size: 2rem;
        font-weight: 500;
        color: white;
        &:nth-of-type(1) {
            margin: 3rem 1rem 2rem 1rem;
        }
        &:nth-of-type(2) {
            margin: 1rem 1rem 2rem 1rem;
        }
    }
    > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-basis: calc(50% - 1rem);
            height: 100px;
            background-color: white;
            color: black;
            margin: .5rem;
            border: 0;
            border-radius: 5px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            > svg {
                width: 3rem;
                height: 3rem;
            }
            > p {
                font-size: 1.4rem;
                text-align: center;
                margin: 1rem 0 0 0;
                color: black;
            }
        }
    
    }
}