$header-background: rgb(37, 38, 39);
$footer-background: rgba(37, 38, 39, 1);
$light-color: rgba(240, 240, 240, 1);
$medium-color: rgba(180, 180, 180, 1);
$dark-color: rgba(55, 55, 55, 1);
$navbar-background: rgba(85, 158, 77, 1);